.container
  .row
    .col-sm-3.text-center.m-3
      table
        tr
          th.size.pr-5.font-weight-normal
            | 商品一覧
          td
            = link_to "", new_admin_item_path, class: "fas fa-cart-plus"
    table.table.border-bottom
      thead.bg-light
        tr
          th
            | 商品ID
          th
            | 商品名
          th
            | 税抜価格
          th
            | ジャンル
          th
            | ステータス
      tbody
        - @items.each do |item|
          tr
            td
              = item.id
            td
              = link_to admin_item_path(item) do
                = item.name
            td
              = item.price.to_s(:delimited)
              |  円
            td
              = item.genre.category
            td
              - if item.status == true
                p.text-success
                  | 販売中
              - else
                p.text-danger
                  | 販売停止中
    .col-12
      .d-flex.justify-content-center.mt-5
        = paginate @items
