<script>
$(function() {
	$('#topContact_snow').snowfall({
		flakeCount : 100,
		flakeColor : '#FFFFFF'
	});
});
</script>

<div id="topContact_snow">
  <div class="image_winter h-100">
    <div class="container pt-5">
      <div class="d-block text-center ">
        <h1 class="text-white">
          <strong>About</strong>
        </h1>
        <p class="text-white">
          ながのCAKEは全国発送可能なケーキ屋さんです。</br>
          お子様からお年寄りの方までお召し上がりいただけるよう、</br>
          様々なバリエーションをご用意しております。</br>
          また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</br>
          ぜひご注文ください。
        </p>
        <div class="pt-2 pb-4">
          <%= image_tag('sample-About.jpg' , size: "400x150")%>
        </div>
      </div>
    </div>
  </div>
</div>