script
  |  $(function() { $('#topContact_snow').snowfall({ flakeCount : 100, flakeColor : '#FFFFFF' }); }); 
#topContact_snow
  .image_winter.h-100
    .container.pt-5
      .d-block.text-center
        h1.text-white
          strong
            | About
        p.text-white
          |  ながのCAKEは全国発送可能なケーキ屋さんです。
          |  お子様からお年寄りの方までお召し上がりいただけるよう、
          |  様々なバリエーションをご用意しております。
          |  また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。
          |  ぜひご注文ください。 
        .pt-2.pb-4
          = image_tag('sample-About.jpg' , size: "400x150")
