<h2>ショッピングカート</h2>
<span class="btn btn-danger">カートを空にする</span>

<table border="1">
  <tr>
    <th>商品名</th>
    <th>単価(税込)</th>
    <th>数量</th>
    <th>小計</th>
    <th></th>
  </tr>
  <tr>
    <tdチョコ</td>
    <td>1000</td>
    <td>
      1
      <span class="btn btn-success">変更</span>
    </td>
    <td>1,100</td>
    <td>
      <span class="btn btn-danger">削除する</span>
    </td>
  </tr>
</table>

<span class="btn btn-primary">買い物を続ける</span>

<table>
  <tr>
    <td>合計金額</td>
    <td>1700</td>
  </tr>
</table>

<span class="btn btn-success">情報入力</span>