// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-visual{
  width:auto;
  height:380px;
  background-image:url(home2.jpg);
  background-size:cover;
  background-position:center;
  // background-repeat:no-repeat;
}