// Place all the styles related to the shopping_addresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.shop-postcode {
  width: 100px;
}

.shop-address {
  width: 300px;
}

.shop-name {
  width: 200px;
}

.shop-button {
  width: 200px;
}

// .shopping-address_table {
//   margin-top: 10px;
// }

.shop-button-posi {
  text-align: center;
}